img {
    width: 280px;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

body {
    background-color: #526aff;
}

body {
    text-align: center;
}

p {
    color: #e6e7ed;
}

h1 {
    color: #e6e7ed;
}

.yellow {
    color: yellow;
}

p {
    font-family: 'Grenze Gotisch', cursive;
}

li {
    font-family: 'Grenze Gotisch', cursive;
}

h2 {
    font-family: 'Grenze Gotisch', cursive;
}

h2 {
    color: #e6e7ed;
}